body
{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
#container
{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    flex-direction: column;
}
header
{
    justify-content: center; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
article
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    animation-duration: 100ms;
}
article p
{
    font-size: 15px;
    padding: 15px;
}
menu
{

    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
}
nav
{
    width: 100%;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    animation-name: menushow;
    animation-duration: 1s;
    overflow: hidden;
}
@keyframes menushow
{
    from {height: 0;}
    to {height: 503px;}
}

@keyframes menuhide
{
    from {height: 503px;}
    to {height: 0;}
}


article img
{
    width: 100%;
}
hr
{
    border: none;
    border-top: 1px solid black;
    width: 50%;
}



#logo
{
    margin: 0;
    width: 90%;
    margin-top: 5%;
}
menu > a 
{
    width: 100%;
    margin: 0;
}
#podpis
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    align-self: flex-end;
}
#podpis img
{
    width: 100%;
}
nav > a
{
    color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav > a:hover
{
    background-color: rgb(244, 244, 242);
}
nav > a > h2
{
    font-weight: 500;
    font-size: 21px;
}
#kontakt:hover
{
    background-color: rgb(244, 244, 242);
}
#fotomain
{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
#slider
{
    display: none;
}
#slider > img
{
    display: none;
}

#burger 
{
    display: inline-block;
    cursor: pointer;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}
  
.bar1, .bar2, .bar3 
{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 
{
    opacity: 0;
}
  
.change .bar3 
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



table
{
    align-self: center;
    width: 80%;
}
table,th,td
{
    border: 2px solid black;
    border-collapse: collapse;
}

th
{
    background-color: #ff6600;
}
th, td
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
table
{
    border-collapse: collapse;
}
#tablecon
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



article h2
{
    color: #ff6600;
}
p
{
    font-size: 18px;
}


main
{
    border-top: 1px solid black;
    padding-top: 15px;
}

footer
{
    width: 100%;
    border-top: 1px solid black;
}
footer img
{
    width: 100%;
}

